Repository aclist/kbin-kes, pull requests merged in 2023-07, with the labels that each got.

#184 [MOD] Move magazine federation warning to sidebar
  helpers/manifest.json
  mods/move-federation-warning.user.js
Labels: mod

#144 Fixes and stability improvements for collapsible comments
  helpers/manifest.json
  kes.user.js
  mods/improved-collapsible-comments.user.js
Labels: bug, mod

#171 [MOD] Resize fonts
  helpers/manifest.json
  kes.user.js
  mods/resize-text.user.js
Labels: mod

#158 [MOD] Notifications panel with async
  mods/notifications-panel.user.js
Labels: enhancement, mod

#185 [MOD] Hide posts
  helpers/manifest.json
  mods/hide-posts.user.js
Labels: mod

#191 [MOD] Hover Indicator
  helpers/manifest.json
  mods/filter.user.js
  mods/hover-indicator.user.js
Labels: mod
